.logo{
    margin-top:3px;
    background-color:red;
    background:url(http://www.alteroo.com/images/alteroo_logo_white.png);
    background-size:90px 30px;
    background-repeat:no-repeat;
    height:10px !important;
    width:200px !important;
     }

.logo img {
    display: none;
}
